<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body>
        <main>
            <% if (typeof login !== 'undefined' && login) { %>
                <p>Credentials incorrrect</p>
                <p><a href="/">Retry</a></p>
            <% } %>

            <!-- Facility Get Error -->
            <% if (typeof facilityError !== 'undefined' && facilityError) { %>
                <p><%= facilityError %></p>
                <a href="/facility">Retry</a>
            <% } %>

            <!-- Facility Add Error -->
            <% if (typeof facilityAddError !== 'undefined' && facilityAddError) { %>
                <p>You entered: <%= addFacility["FACILITY_NAME"] %></p>
                <p>Problem: <%= addFacilityStatement %></p>
                <a href="/facility">Retry</a>
            <% } %>

            <!-- Facility Update Error: Non-existent Name -->
            <% if (typeof updateFacilityError !== 'undefined' && updateFacilityError) { %>
                <p><%= updateFacilityError %></p>
                <a href="/facility">Retry</a>
            <% } %>

            <!-- Facility Update Error: API Side -->
            <% if (typeof facilityUpdateError !== 'undefined' && facilityUpdateError) { %>
                <p>You entered: <%= userFacility["FACILITY_NAME"] %></p>
                <p>Problem: <%= updateFacilityStatement %></p>
                <a href="/facility">Retry</a>
            <% } %>

            <!-- Facility Delete Error: Non-existent Name -->
            <% if (typeof deleteFacilityError !== 'undefined' && deleteFacilityError) { %>
                <p><%= deleteFacilityError %></p>
                <a href="/facility">Retry</a>
            <% } %>

            <!-- Facility Delete Error: API Side -->
            <% if (typeof facilityDeleteError !== 'undefined' && facilityDeleteError) { %>
                <p>You entered: <%= userFacility["FACILITY_NAME"] %></p>
                <p>Problem: <%= deleteFacilityStatement %></p>
                <a href="/facility">Retry</a>
            <% } %>

            <!-- Classroom Get Error -->
            <% if (typeof classroomError !== 'undefined' && classroomError) { %>
                <p><%= classroomError %></p>
                <a href="/classroom">Retry</a>
            <% } %>

            <!-- Classroom Add Error -->
            <% if (typeof classroomAddError !== 'undefined' && classroomAddError) { %>
                <p>You entered: <%= addClassroom["CLASS_NAME"] %> and <%= addClassroom["CLASS_CAPACITY"] %></p>
                <p>Problem: <%= addClassroomStatement %></p>
                <a href="/classroom">Retry</a>
            <% } %>

            <!-- Classroom Update Error: Non-existent Name -->
            <% if (typeof updateClassroomError !== 'undefined' && updateClassroomError) { %>
                <p><%= updateClassroomError %></p>
                <a href="/classroom">Retry</a>
            <% } %>

            <!-- Classroom Update Error: API Side -->
            <% if (typeof classroomUpdateError !== 'undefined' && classroomUpdateError) { %>
                <p>You entered: <%= userClassroom["CLASS_NAME"] %></p>
                <p>Problem: <%= updateClassroomStatement %></p>
                <a href="/classroom">Retry</a>
            <% } %>

            <!-- Classroom Delete Error: Non-existent Name -->
            <% if (typeof deleteClassroomError !== 'undefined' && deleteClassroomError) { %>
                <p><%= deleteClassroomError %></p>
                <a href="/classroom">Retry</a>
            <% } %>

            <!-- Classroom Delete Error: API Side -->
            <% if (typeof classroomDeleteError !== 'undefined' && classroomDeleteError) { %>
                <p>Problem: <%= deleteClassroomStatement %></p>
                <a href="/classroom">Retry</a>
            <% } %>
        </main>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </body>
</html>